<!DOCTYPE html>
<html>
  <head>
    <title>Job Description</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 100px;
    font-style: normal;
    }

      .flashes {
        list-style-type: none;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
      }

      .flashes li {
        background-color: grey;
        color: white;
        border: 1px solid grey;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <section>
      <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary" style="font-weight:bold">Home</a></li>
            </ul>
          </div>
        </div>
      </header>
    </section>

    
   <section>
     <div class="container col-xl-10 col-xxl-8 px-4 py-5">
       <div class="row align-items-center g-lg-5 py-5">
         <div class="col-lg-7 text-center text-lg-start">
           <h1 class="dm-serif-display-regular display-4 fw-bold lh-1 text-body-emphasis mb-3">Job Description</h1>
           <p class="lead"></p>
         </div>
         <div class="col-md-10 mx-auto col-lg-5">
           
           <form action="{{url_for('result')}}" method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
             {% include 'flash.html' %}
             <div class="form-check">
               <input class="form-check-input" type="radio" name="des" id="des" value="Software Developer – C++ – Full-Time
Electrify Services is one of the fastest growing engineering services start-ups and is looking for a Software development leader to play a key role in helping our client improve their product and take their business to the next level. This is an individual contributor role with a direct impact on company growth. We would like to see this position grow as the company evolves.If you are looking for a high-impact and challenging role, this job is a perfect destination for you!Major Job Duties Involvement in the full software lifecycle: requirements, design, development, test, release, and maintenance.
Design, build, and maintain efficient, reusable, and reliable C++ & C# code
Programming experience using C# with .NET Core / .NET Framework
Experience within scrum teams and familiarity with Agile methodologies
Relational database experience with data modeling, reporting, query optimization, indexing a SQL Datastore
Hands-on experience in development and testing phases of the development life cycle
Understanding basics of cloud-based architecture (AWS preferred, but Microsoft Azure or Google Cloud experience is good too)
Thoroughly review users' requirements and assist with integration
Device optimizations and solutions for performance bottlenecks and bugs.
Help maintain code quality, revision control, and organization.
Analyze customer issues and identify and implement solutions.
Participating in and implementing in analysis and development of test plans.
Custom API development and its integration.
Develop and debug source code which includes:
Write Multi-threaded applications
Interfaces with various peripheral devices.
Requirements collection from internal, and external clients and documentation
Design, development, optimize, and performance tuning of custom applications
Unit testing and debugging of applications in various stages of the development life cycle
Work collaboratively with peers in all the stages of the development life cycle
Estimate and scope development work
Produce documentation of code functionality and features consistently throughout the development cycle.
Participate proactively in requirements analysis and design reviews
Perform peer code reviews to discover issues and recommend changes that improve software quality
VFD application programming and support
Keeping a positive attitude and contributing to team effort
Perform additional software development duties as required
Produce quality software documentation:
Design
Unit test plans
Release notes
Assist in testing the developed software and provide support for field problems
Provides guidance and mentoring to less experienced staff members.
These responsibilities are just the start! At Electrify, we encourage you to contribute wherever your interests take you — and shape your role accordingly. And this isn't just a philosophical bent: we give you 4 hours a week (10% of the work week) to pursue passion projects outside of your role responsibilities.
We are Looking for People Who Have
Highly Skilled in C++ ( MFC ) and C# is a MUST
1+ years of technical experience in software architecture and development.
Experience leading development efforts through all phases of SDLC.
Strong communication skills: able to communicate with technical and non-technical stakeholders
Strong problem-solving capabilities
Experienced in an agile software development environment
Capabilities to understand and troubleshoot C# code
Strong Software Engineering skills including design, programming (C, C++, script), and debugging
Highly motivated and self-directed
Excellent debugging skills
Thrive in a collaborative environment and can communicate while confidently driving multiple projects across many teams.Obsessively passionate and inquisitive and seeks to solve everyday problems in innovative ways.Laser-focused on the smallest details that are meaningful to our customers.">
               <label class="form-check-label" for="flexRadioDefault1">
                 C++ Software Developer
               </label>
             </div>
             <div class="form-check">
                <input class="form-check-input" type="radio" name="des" id="des" value="Data Scientist
                  Data Analytics/Technology
                  Data Analysis and Interpretation: Analyze large, complex datasets to uncover trends, patterns, and insights that drive business decisions.
                  Model Development: Develop, implement, and maintain predictive models and machine learning algorithms.
                  Data Collection and Processing: Gather and preprocess data from various sources, ensuring data quality and integrity.
                  Statistical Analysis: Apply statistical techniques to test hypotheses, validate models, and provide actionable recommendations.
                  Visualization: Create clear and compelling data visualizations and reports to communicate findings to stakeholders.
                  Collaboration: Work with cross-functional teams, including product, engineering, and marketing, to understand data needs and deliver solutions.
                  Tool Development: Build and maintain tools and scripts to automate data processing and analysis tasks.
                  Stay Updated: Keep up to date with the latest trends and technologies in data science and machine learning.
                  Documentation: Document methodologies, processes, and findings to ensure reproducibility and knowledge sharing.
                  Education: Bachelor’s or Master’s degree in Data Science, Computer Science, Statistics, Mathematics, or a related field (or equivalent experience).
                  Proficiency in programming languages such as Python or R.
                  Strong knowledge of machine learning frameworks (e.g., TensorFlow, PyTorch, Scikit-learn).
                  Experience with data visualization tools (e.g., Tableau, Power BI, Matplotlib).
                  Expertise in statistical analysis and techniques.
                  Familiarity with big data technologies (e.g., Hadoop, Spark) and databases (e.g., SQL, NoSQL).
                  Excellent problem-solving and analytical skills.
                  Strong communication and presentation abilities.
                  Ability to work collaboratively in a team environment.
                  Attention to detail and a passion for data-driven decision-making.
                  Advanced degree (Master’s or Ph.D.) in a relevant field.
                  Experience with cloud platforms (e.g., AWS, Google Cloud, Azure).
                  Knowledge of natural language processing (NLP) and deep learning techniques.
                  Familiarity with A/B testing and experimental design.
                  Experience with version control systems like Git.
                  Prior experience in an Agile/Scrum development environment.">
                <label class="form-check-label" for="flexRadioDefault1">
                  Data Scientist
                </label>
              </div>
             <div class="mb-3">
               <label for="exampleFormControlTextarea1" class="form-label">Custom Job Description</label>
               <textarea class="form-control"   name="des" id="des" rows="3"></textarea>
             </div>
             
             
             <button class="w-100 btn btn-lg btn-dark" type="submit">Go</button>
             <hr class="my-4">
             
           </form>
         </div>
       </div>
     </div>
   </section>

    <section id="footer" >
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                  <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Resume Ranker</span>
              </div>

              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
              </ul>
            </footer>
          </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>